$def with (sucursales)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
  <section>
    <form method="POST"> 
        <h2>Agregar sucursales</h2>
             name:<input type="text" name="name" id="name" ><br><br>
             enfrimiento:<input type="text" name="enfriamiento1" id="enfriamiento1" ><br><br>
             producto 1 temperatura:<input type="text" name="Temperatura" id="enfriamiento1" ><br><br>
             producto 1 humedad:<input type="text" name="Humedad" id="Humedad" ><br><br>
             producto 2 temperatura2:<input type="text" name="Temperatura2" id="Temperatura2" ><br><br>
             producto 2 humedad2:<input type="text" name="Humedad2" id="Humedad2" ><br><br>
              <input type="submit" class="button" value="Agregar">
            </form>
          </section>
    </body>
        
    </body>
</html>
