$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>Recuperar contraseña </title>
    </head>
    <body>
            <form method="POST">
         <h1>Recuperar contraseña</h1> <br>
                    <input type="text"  name="email" id="email"  placeholder="Correo "><br>
                   
            <input type="submit"   value="recuperar"><br> 
            
        </section>
        </form>
        </html>

 <style>
  
    body {
        margin: 0;
        padding: 0;
        text-align: center;
        background-size: cover;
        font-family: sans-serif;
        height: 100vh;
        background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20201029/pngtree-technological-background-concept-and-idea-for-the-internet-of-things-communication-image_443783.jpg);
     }









     
   </style>
